.navbar {
    position: fixed;
    width: 1440px;
}

.white {
    width: 1920px;
    height: 50px;
}

.nav-link {
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

.nav-link:hover {
    color: lightcoral;
    text-shadow: 5px;
}

.title {
    width: 1440px;
    height: 300px;
    background-color: rgb(208, 208, 208);
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 5px;
    line-height: 300px;
    padding-left: 70px;
}

p1 {
    width: 600px;
    height: 600px;
    color: rgb(101, 101, 101);
    line-height: 25px;
    text-align: justify;
    font-size: medium;
    text-shadow: 5px;
    font-weight: lighter;
    vertical-align: middle;
    display: table-cell;
    line-height: 5px 0;
}